<div
  class="m-sidebarNavigation"
  [class.m-sidebarNavigation--slide]="layoutMode === 'phone'"
  (click)="onSidebarNavClick()"
>
  <nav>
    <div class="m-sidebarNavigation__top">
      <a routerLink="/" title="Home" i18n-title="@@COMMON__HOME">
        <img [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'" />
        <m-canaryFlag class="m-sidebarNavigation__canaryFlag"></m-canaryFlag>
      </a>

      <i class="material-icons" (click)="toggle()">close</i>
    </div>

    <ul class="m-sidebarNavigation__list">
      <li
        class="m-sidebarNavigation__item m-sidebarNavigation__item--compose"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        routerLinkActiveOptions="{ exact: true }"
      >
        <a (click)="openComposeModal()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              from="assets-file"
              iconId="assets/icons/compose.svg"
              [sizeFactor]="40"
              m-tooltip--icon
            ></m-icon>
            <ng-container>Speak your mind</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__COMPOSE">
            Compose
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a [routerLink]="['/newsfeed/subscriptions']" (click)="toggle()">
          <m-tooltip
            icon="home"
            i18n="@@COMMON__NEWSFEED"
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Newsfeed
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__NEWSFEED">
            Newsfeed
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: plusPageActive }"
      >
        <a routerLink="/discovery" (click)="toggle()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="m-icon--hashtag" m-tooltip--anchor>#</i>
            <ng-container i18n="@@COMMON__DISCOVERY">Discovery</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text"
            i18n="@@COMMON__DISCOVERY"
          >
            Discovery
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        routerLinkActiveOptions="{ exact: true }"
        *mIfFeature="'nav-plus-2020'"
      >
        <a routerLink="/discovery/plus" (click)="toggle()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="material-icons" m-tooltip--anchor>add_to_queue</i>
            <ng-container i18n="@@COMMON__MINDS+">Minds+</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__MINDS+">
            Minds+
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a [routerLink]="['/wallet']" (click)="toggle()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon iconId="account_balance" m-tooltip--icon></m-icon>
            <ng-container i18n="@@COMMON__WALLET">Wallet</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__WALLET">
            Wallet
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a routerLink="/analytics" (click)="toggle()">
          <m-tooltip
            icon="insert_chart"
            i18n="@@COMMON__ANALYTICS"
            [enabled]="false"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Analytics
          </m-tooltip>
          <span
            class="m-sidebarNavigationItem__text"
            i18n="@@COMMON__ANALYTICS"
          >
            Analytics
          </span>
        </a>

        <ul class="m-sidebarNavigation__subnav" m-sidebarNavigation__subnav>
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
          >
            <a
              routerLink="/analytics/dashboard/traffic"
              (click)="toggle()"
              i18n="@@COMMON__TRAFFIC"
              >Traffic</a
            >
          </li>
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
          >
            <a
              routerLink="/analytics/dashboard/token"
              (click)="toggle()"
              i18n="@@ANALYTICS__TOKEN"
              >Tokens</a
            >
          </li>
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
          >
            <a
              routerLink="/analytics/dashboard/engagement"
              (click)="toggle()"
              i18n="@@COMMON__ENGAGEMENT"
              >Engagement</a
            >
          </li>
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
          >
            <a
              routerLink="/analytics/dashboard/earnings"
              (click)="toggle()"
              i18n="@@COMMON__EARNINGS"
              >Earnings</a
            >
          </li>
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
          >
            <a
              routerLink="/analytics/dashboard/trending"
              (click)="toggle()"
              i18n="@@COMMON__TRENDING"
              >Trending</a
            >
          </li>
        </ul>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        routerLinkActiveOptions="{ exact: true }"
        *mIfFeature="'earn-modal'"
      >
        <a (click)="openEarnModal()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="material-icons" m-tooltip--anchor>attach_money</i>
            <ng-container i18n="@@COMMON__EARN">Earn</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__EARN">
            Earn
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        routerLinkActiveOptions="{ exact: true }"
        *mIfFeature="'buy-tokens-uniswap-transak'"
      >
        <a (click)="buyTokens()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon from="custom" iconId="wallet" m-tooltip--icon></m-icon>
            <ng-container i18n="@@COMMON__BUY_CRYPTO">Buy Crypto</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text"
            i18n="@@COMMON__BUY_CRYPTO"
          >
            Buy Crypto
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        routerLinkActiveOptions="{ exact: true }"
        *mIfFeature="'boost-modal-v2'"
      >
        <a (click)="openBoostModal()">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon iconId="trending_up" m-tooltip--icon></m-icon>
            <ng-container>Boost your channel</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__BOOST">
            Boost
          </span>
        </a>
      </li>

      <li
        *ngIf="user"
        class="m-sidebarNavigation__item m-sidebarNavigation__item--user"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a [routerLink]="['/' + user.username]" (click)="toggle()">
          <img
            [src]="cdnUrl + 'icon/' + user.guid + '/small/' + user.icontime"
            alt=""
          />
          <span class="m-sidebarNavigationItem__text">
            @{{ user.username }}
          </span>
        </a>
      </li>

      <li
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        class="m-sidebarNavigation__item"
      >
        <a [routerLink]="[settingsLink]" (click)="toggle()">
          <m-tooltip
            icon="more_horiz"
            i18n="@@COMMON__SETTINGS"
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Settings
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__SETTINGS">
            Settings
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="m-sidebar--groups" [hidden]="!user">
    <ng-template dynamic-host></ng-template>
  </div>
</div>
