<h4 class="m-twoFactor__recoveryCodeHeader" i18n="@@2FA_RECOVERY_CODE__HEADER">
  2. Recovery codes
</h4>
<span
  class="m-twoFactor__recoveryCodeSubheader"
  i18n="@@2FA_RECOVERY_CODE__RECOVERY_CODE_SUBHEADER"
  >Recovery codes are used to access your account in the event you cannot
  receive two-factor authentication codes.</span
>
<ng-container [ngTemplateOutlet]="recoveryCodeContainer"></ng-container>

<div class="m-twoFactor__recoveryCodeContinueButton">
  <m-button
    [color]="'blue'"
    [disabled]="disabled$ | async"
    (onAction)="continueButtonClick()"
  >
    <ng-container i18n="@@2FA_RECOVERY_CODE__CONTINUE">Continue</ng-container>
  </m-button>
</div>

<ng-template #recoveryCodeContainer>
  <div class="m-twoFactor__recoveryCodeContainer">
    <div
      class="m-twoFactor__recoveryCodeInstructions"
      i18n="@@2FA_RECOVERY_CODE__DOWNLOAD_PRINT_COPY"
    >
      Download, print, or copy your recovery codes.
    </div>
    <div class="m-twoFactor__recoveryCodeBody" #recoveryCode>
      {{ recoveryCode$ | async }}
    </div>
    <div class="m-twoFactor__recoveryCodeFooter">
      <span class="m-twoFactor__recoveryCodeActionButton" #downloadButton
        ><i class="material-icons">get_app</i>
        <ng-container i18n="@@2FA_RECOVERY_CODE__DOWNLOAD"
          >Download</ng-container
        ></span
      >
      <span class="m-twoFactor__recoveryCodeActionButton" #copyButton
        ><i class="material-icons">content_copy</i>
        <ng-container i18n="@@2FA_RECOVERY_CODE__COPY">Copy</ng-container></span
      >
      <p
        class="m-twoFactor__recoveryCodeFooterText"
        i18n="@@2FA_RECOVERY_CODE__STORE_SAFELY_INFO"
      >
        Please make sure to store this information securely. If you lose it we
        can not guarantee that you will regain access to your account.
      </p>
    </div>
  </div>
</ng-template>
