@import 'defaults.scss';

:host {
  .m-blog-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }
  @media screen and (max-width: $max-mobile) {
    .m-blog--title {
      font-size: 32px;
    }
    .medium-insert-embeds {
      max-width: 100%;
      margin: 0;
    }
    .m-blog--footer {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .m-blog--footer {
    margin: 30px 0;
    padding: 20px 0;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
      border-bottom: 1px solid themed($m-borderColor--primary);
    }

    .m-license-info {
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }
  }

  ::ng-deep {
    m-comments__entityOutlet {
      .m-commentPoster {
        margin: 0 20px;
        width: 90%;
      }
    }
  }

  ::ng-deep {
    m-postmenu--v2 {
      position: relative;
      .m-postMenu__button {
        padding: 0;
      }
      i {
        font-size: 24px;
      }
    }
    m-activity__remindbutton {
      button {
        cursor: pointer;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        &.m-activityRemindButton__icon .minds-counter {
          padding-right: 8px !important; // 8px because that is what legacy .minds-counter is
        }
      }
    }
  }

  .m-share-buttons {
    cursor: pointer;
    padding-right: 8px;
    @include m-theme() {
      color: themed($m-green-light);
    }
  }

  .m-code-highlight {
    overflow-x: auto;
    font-size: 20px;
  }

  ::ng-deep {
    m-wire--lock-screen.m-wire--lock-screen-2020 {
      position: relative;
      z-index: 0;
    }

    .ck.ck-editor__editable > .ck-placeholder::before {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-blog__body {
      padding: 0 $minds-padding;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        @include m-theme() {
          color: themed($m-link);
        }
      }

      img {
        max-width: 100%;
        height: auto;
        margin: 50px 0;
        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      ul {
        list-style: disc;
        margin: 30px 0;
        a {
          font-weight: 400;
        }
      }

      ol {
        list-style: decimal;
        margin: 30px 0;

        a {
          font-weight: 400;
        }
      }

      br,
      p,
      ul,
      ol {
        font-size: 16px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 30px;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      p {
        font-family: 'Roboto', Helvetica, sans-serif;

        margin-bottom: 0.5em;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        line-height: 1.4em;
        margin: 15px 0;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        a {
          font-weight: normal;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        font-weight: 600;
        margin: 30px 0;
      }

      h2 {
        margin: 30px 0 10px 0;
        font-size: 28px;
      }

      figcaption {
        word-break: break-word;
        padding: 0.6em;
        max-width: 100%;
        text-align: center;

        @include m-theme() {
          background-color: themed($m-bgColor--primary);
          color: themed($m-black);

          &:focus {
            background-color: themed($m-bgColor--primary);
          }
        }
      }

      ul,
      ol {
        margin: 17px 0;

        li {
          margin-bottom: 0.5em;
          font-size: 17px;
        }
      }

      figure.image {
        @media screen and (max-width: $max-mobile) {
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-start: 0;
          margin-inline-end: 0;
        }
      }

      figure.table {
        margin: 40px 0;
        overflow-x: auto;
        max-width: 100%;

        table {
          align-items: center;
          border-spacing: 0;
          margin: auto;
          text-rendering: optimizelegibility;

          tbody {
            max-width: 100%;
          }

          td,
          th {
            min-width: 100px; /* Stop shrinking and trigger scrollbar */
            padding: 8px 16px;
            text-align: left;

            @include m-theme() {
              border: 1px solid themed($m-borderColor--primary);
            }
          }

          th {
            font-weight: 900;

            @include m-theme() {
              color: themed($m-black);
            }
          }
          td {
            @include m-theme() {
              color: themed($m-black);
            }
          }
        }
      }

      /*blockquote {
          padding: $minds-padding 0 $minds-padding 0.5em;
          @include m-theme(){
             border-left: 2px solid themed($m-grey-600);
          }

          &:before, &:after {
            position: initial;
            content: initial;
          }

          p, ul, ol {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }*/
    }
  }
}
