<div class="mf-jumpAnchor" #topAnchor></div>

<m-marketing
  class="m-pro__marketing"
  pageTitle="Minds Pro"
  i18n-pageTitle="@@COMMON__MINDS_PRO"
>
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div
        class="m-grid__column-7 m-grid__column-7--tablet m-grid__column-12--mobile m-marketing__body"
      >
        <h1 i18n="@@MARKETING_PRO__MINDS_PRO">
          Minds Pro
        </h1>

        <h2
          ngPreserveWhitespaces
          i18n="@@MARKETING_PRO__REVENUE_MODEL_FOR_CREATORS"
        >
          A new revenue model for <em>creators</em>
        </h2>

        <ul class="m-marketing__points">
          <li i18n="@@MARKETING_PRO__GET_PAID_TRAFFIC">
            Get paid for your traffic and referrals
          </li>
          <li i18n="@@MARKETING_PRO__LAUNCH_OWN_WEBSITE">
            Launch your own website
          </li>
          <li i18n="@@MARKETING_PRO__RECEIVE_MULTI_CURRENCY_TIPS">
            Receive multi-currency tips and subscription payments from fans
          </li>
          <li i18n="@@MARKETING_PRO__SUPPORTS_CONTENT">
            Supports video, images, blogs and more
          </li>
        </ul>

        <div class="m-proMarketing__subscription">
          <m-pro--subscription
            (onEnable)="goToSettings()"
          ></m-pro--subscription>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-12--mobile m-marketing__image m-marketing__imageContainer"
      >
        <span>
          <img
            [src]="cdnAssetsUrl + 'assets/product-pages/pro/mobile-pro.png'"
            class="m-marketing__image--tall"
            alt="Minds pro"
          />
        </span>
      </div>
    </div>
  </div>

  <ng-container slot="2">
    <m-marketing__asFeaturedIn></m-marketing__asFeaturedIn>

    <!-- Section 2 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n="@@MARKETING_PRO__GET_PAID_FOR_WORK">
            Get paid for your work
          </h2>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__RECEIVE_TIPS_SUBSCRIPTION"
          >
            Receive tips and subscription payments in USD, Bitcoin, Ether or
            Minds Tokens. Earn a revenue-share for driving pageviews and
            referring new users to Minds.
            <br /><br />
            If you pay for your membership in tokens, you are only eligible to
            be paid out in tokens. If you pay in cash, you are eligible to be
            paid out in cash, Bitcoin, Ether or tokens.
          </p>

          <a
            class="m-marketing__subText"
            routerLink="/minds/blog/how-to-earn-money-with-pro-1046186757943361536"
            i18n="@@MARKETING_PRO__LEARN_MORE"
            >Learn More</a
          >
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 3 -->

    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n="@@MARKETING_PRO__BUILD_OWN_WEBSITE">
            Build your own website
          </h2>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__SUBDOMAIN_CUSTOMDOMAIN_OTHER_INFO"
          >
            Morph your channel into a full blown website with your own subdomain
            or custom domain, newsfeed, logo, theme, categories and footer.
          </p>

          <ul class="m-marketing__points">
            <li i18n="@@MARKETING_PRO__UPLOAD_VIDEOS_AND_PHOTOS">
              Upload videos and photos
            </li>

            <li i18n="@@MARKETING_PRO__PUBLISH_BLOGS_EASY_EDITOR">
              Publish blogs in an easy-to-use editor
            </li>

            <li i18n="@@MARKETING_PRO__CREATE_OWN_GROUPS">
              Create your own groups
            </li>

            <li i18n="@@MARKETING_PRO__TRACK_ALL_ANALYTICS">
              Track all of your analytics
            </li>
          </ul>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 4 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n="@@MARKETING_PRO__REGAIN_YOUR_FREEDOM">
            Regain your freedom
          </h2>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__TIRED_DEMONETIZATION_SOCIAL"
          >
            Tired of the manipulation and unfair treatment from traditional
            social networks?
          </p>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__TRANSPARENT_NO_BIAS"
          >
            Minds offers a fully transparent, privacy-focused platform with no
            bias, hidden algorithms or censorship.
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span class="m-marketing__image--noUxSample">
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-4.jpg'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 5  -->
    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n="@@MARKETING_PRO__SUSTAINABLE_REV_MODEL">
            A sustainable revenue model for everyone.
          </h2>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__WE_ARE_YOU"
          >
            We are you. We are sharing our revenue with you to directly
            compensate for contributions to the network. As a community-owned
            company, it is essential to keep everyone's incentives aligned and
            inspired.
          </p>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__HEALTHY_ECOSYSTEM"
          >
            The more traffic and revenue that you drive, the more you earn and
            the healthier the ecosystem becomes.
          </p>
          <div class="m-marketing__buttonWrapper">
            <m-button color="blue"
              ><a routerLink="/upgrades"
                ><ng-container i18n="@@MARKETING_PRO__LEARN_ABOUT_UPGRADES"
                  >Learn about upgrades</ng-container
                ></a
              ></m-button
            >
          </div>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="
                cdnAssetsUrl + 'assets/product-pages/pro/liquidity-rewards.png'
              "
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-5-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Final section -->

    <div class="m-marketing__section m-marketing__section--tail">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n="@@MARKETING_PRO__OTHER_PRO_FEATURES">Other Pro features</h2>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper m-marketingSectionTail__table">
        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n="@@MARKETING_PRO__PROFESSIONAL_MEDIA">Professional media</h3>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__UPLOAD_VIDEOS_LENGTH_SIZE_DETAILS"
          >
            Upload videos or images up to 60 minutes in length, 4 GB in size and
            1080p in resolution. Publish your own blogs with our easy-to-use
            editor.
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n="@@MARKETING_PRO__UNLOCK_ALL_PLUS_FEATURES">
            Unlock all Minds+ features
          </h3>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__TURN_OFF_ADS_SECTION"
          >
            Turn off ads, verify your channel, earn a badge and access exclusive
            content.
          </p>

          <p class="m-marketing__description">
            <a
              routerLink="/plus"
              target="_blank"
              i18n="@@MARKETING_PRO__LEARN_ABOUT_MINDS_PLUS"
              >Learn About Minds+</a
            >
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n="@@MARKETING_PRO__HARNESS_THE_NETWORK">
            Harness the network
          </h3>

          <p
            class="m-marketing__description"
            i18n="@@MARKETING_PRO__WHY_SEPERATE_FROM_COMMUNITY_SECTION"
          >
            Why separate your website from your social network? Join forces with
            our community of millions of minds.
          </p>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body m-marketing__body--extra"
        >
          <m-button
            color="blue"
            (onAction)="scrollToTop()"
            data-cy="data-minds-pro-upgrade-button"
          >
            <span i18n="@@MARKETING_PRO__UPGRADE_TO_PRO">Upgrade to Pro</span>
          </m-button>
        </div>
      </div>
    </div>
  </ng-container>
</m-marketing>
