<m-emailConfirmation></m-emailConfirmation>
<ng-container [m-clientMeta]="{ source: 'feed/subscribed', medium: 'feed' }">
  <div
    class="m-border mdl-color--green mdl-color-text--white m-newsfeed-boost-promo"
    *ngIf="newUserPromo"
  >
    <i class="material-icons">trending_up</i>
    <ng-container i18n="@@MINDS__NEWSFEED__200_FREE_VIEWS"
      >Have 200 free views on us. Hit post to be boosted.</ng-container
    >
  </div>

  <ng-container>
    <m-composer
      [activity]="message ? { message: message } : undefined"
      [size]="'compact'"
      #composer
    ></m-composer>
  </ng-container>

  <div class="minds-list">
    <ng-container *ngFor="let preActivity of prepended">
      <m-activity
        [entity]="preActivity"
        [displayOptions]="{
          showOnlyCommentsInput: true,
          isFeed: true
        }"
        (deleted)="delete(preActivity)"
      ></m-activity>
    </ng-container>

    <ng-container *mIfFeature="'boost-rotator'">
      <ng-container *mIfBrowser>
        <m-newsfeed--boost-rotator
          *ngIf="showBoostRotator"
        ></m-newsfeed--boost-rotator>
      </ng-container>
    </ng-container>

    <ng-container
      *ngFor="let activity$ of feedsService.feed | async; let i = index"
    >
      <m-featured-content
        *ngIf="(i > 0 && i % 5 === 0) || i === 2"
        [slot]="i + 1"
        [displayOptions]="{
          showOnlyCommentsInput: true,
          isFeed: true
        }"
      ></m-featured-content>

      <m-activity
        *ngIf="activity$ | async as activity"
        [entity]="activity"
        [displayOptions]="{
          showOnlyCommentsInput: true,
          isFeed: true
        }"
        [slot]="i + 1"
        (deleted)="delete(activity)"
      ></m-activity>
    </ng-container>

    <infinite-scroll
      distance="25%"
      (load)="loadNext()"
      [moreData]="feedsService.hasMore | async"
      [inProgress]="feedsService.inProgress | async"
    >
    </infinite-scroll>
  </div>
</ng-container>
