m-settingsV2 {
  grid-area: content / span 2;
  min-width: 0;

  m-nestedMenu {
    &.m-pageLayout__pane--right {
      @include m-theme {
        border-left: none;
      }
    }
  }

  .m-settingsV2 {
    display: flex;
    font-weight: 300;
    .m-settingsV2__mainMenu {
      flex: 0 1 $layoutRightFullWidth;
      @media screen and (max-width: $layoutMax2ColWidth) {
        display: none;
        flex-grow: 1;
        &.onMainNav {
          display: block;
        }
      }
    }

    .m-settingsV2__secondaryPane {
      flex: 1 1 340px;
      max-width: 637px;
      @media screen and (max-width: $layoutMax2ColWidth) {
        display: none;
        &.onSecondaryNav {
          display: block;
        }
      }
    }

    div.m-settingsV2__notice {
      span {
        font-weight: 400;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }
  .m-settingsV2__settingsView {
    font-size: 16px;
    line-height: 21px;
    margin-top: 29px;
    margin-bottom: 48px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
    @media screen and (max-width: $layoutMax2ColWidth) {
      margin-top: 15px;
    }
    & > * {
      &:not(.m-settingsV2__headerWrapper) {
        margin: 0 71px;
        @media screen and (max-width: $layoutMax2ColWidth) {
          margin: 0 24px;
        }
      }
    }
    .m-settingsV2__headerWrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0 71px 0 -35px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      box-sizing: border-box;
      width: 100%;

      @media screen and (max-width: $layoutMax2ColWidth) {
        flex-flow: column nowrap;
        margin: 0;
        align-items: flex-start;
      }

      .m-settingsV2__backButton {
        flex: 0 0 35px;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        a {
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 300;

          cursor: pointer;
          text-decoration: none;
          margin-bottom: 0;

          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
        span {
          font-size: 15px;
          display: none;
          margin-left: 5px;

          @media screen and (max-width: $layoutMax2ColWidth) {
            display: inline-flex;
          }
        }
        i {
          font-size: 24px;
          line-height: inherit;
          transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          @media screen and (max-width: $layoutMax2ColWidth) {
            font-size: 17px;
          }
        }
        &:hover {
          i {
            transform: scale(1.1);
          }
        }
      }
    }
    .m-settingsV2__headerLabel {
      flex: 1 0 auto;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      width: 100%;
    }
    .m-settingsV2__subheader {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      &:not(:first-child) {
        margin-top: 41px;
      }
    }
    .m-settingsV2__desc {
      margin: 11px 0 48px 0;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
      @media screen and (max-width: $layoutMax2ColWidth) {
        font-size: 15px;
        line-height: 20px;
      }
      a {
        font-weight: inherit;
        text-decoration: none;
        @include m-theme() {
          color: themed($m-link);
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .m-formWrapper .m-form__fieldsContainer {
      .m-form__row--label label {
        font-weight: 400;

        > m-tooltip {
          font-size: 15px;
          line-height: 20px;
          font-weight: 300;
        }
      }
    }

    m-settingsV2__password {
      .m-formWrapper {
        .m-form__field--text {
          &:nth-child(2) {
            margin-bottom: 2px;
          }
        }
      }
    }

    .m-formWrapper m-popover {
      width: 100%;
      .m-popover__content {
        margin-top: 1.5rem;
      }
      input {
        width: 100%;
      }
    }
    .m-formInput__checkbox {
      font-size: 15px;
      line-height: 20px;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    .m-formLayout--buttonLeft {
      .m-form__buttonsContainer {
        margin-top: 35px;
      }
    }

    m-settingsV2__emailNotifications {
      .m-form__field--checkbox:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    // m-form__filePreview
    .m-form__filePreview--logo {
      padding: 16px;
      > img {
        max-width: 100%;
        max-height: 100px;
        object-fit: contain;
      }
    }

    .m-form__filePreview--background {
      width: 480px;
      height: 270px;

      @include m-theme() {
        background: rgba(themed($m-black-always), 0.3);
      }
      > img {
        width: 480px;
        height: 270px;
        object-fit: cover;
      }
    }

    .m-settings--section {
      input {
        width: 100%;
      }
      h4 {
        display: none;
      }
    }
    .m-settingsV2__spinner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .m-tooltip--bubble {
    width: 30vw;
  }
}
